DATABASE_URL=postgres://postgres:mysecretpassword@database:5432/movies_db
NODE_ENV=development
PORT=4000
TMDB_API_KEY=5a01f45ab8301d2c65d5ef66cd9649f0
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword
DATABASE_NAME=moviedb

